<!DOCTYPE html>
<!--[if lt IE 9]><html lang="en" ng-app="wthr" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" ng-app="wthr"><!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>ng-wthr</title>
<meta property="og:description" name="description" content="Find the current temperature of a US city.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/wthr-icons.css" rel="stylesheet">
<link href="css/animation.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57x57-precomposed.png">
<link rel="icon" href="favicon.ico">
<meta name="msapplication-TileColor" content="#FFFFEE">
<meta name="msapplication-TileImage" content="img/apple-touch-icon-144x144-precomposed.png">
<script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<h1>ng-wthr</h1>
<div class="wrapper" ng-controller="WeatherCtrl as vm">
    <form name="search" ng-submit="getWeatherByPlacename()">
        <p>Get the temperature using</p>
        <div ng-show="geolocationAvailable">
            <button type="button" id="current" ng-click="getWeatherByLatLon()">current location<b class="icon-target"></b></button> or
        </div>
        <label for="place">city name</label>
        <input id="place" placeholder="City name" title="Please enter a city name" ng-model="place" required>
        <button type="submit">Go</button>
        <span class="place-error">Please enter a place name</span>
        <i class="icon-spin5 animate-spin" loading-widget></i>
    </form>
    <div id="results" ng-model="vm.conditions" ng-show="conditions.name" ng-cloak>
        <h2 data-code="{{ conditions.code }}">{{ conditions.name }}</h2>
        <dl>
            <dt class="now visuallyhidden">Now</dt>
            <dd>{{ conditions.current }}°</dd>
            <dt class="low">Low</dt>
            <dd>{{ conditions.low }}°</dd>
            <dt class="high">High</dt>
            <dd>{{ conditions.high }}°</dd>
            <dt class="desc visuallyhidden">Description</dt>
            <dd title="{{ conditions.descriptionFull }}">{{ conditions.description }}</dd>
        </dl>
    </div>
    <div class="units-toggle switch">
        <input type="radio" id="units-imperial" name="units" value="imperial" ng-change="convertUnits()" ng-model="units" checked>
        <label for="units-imperial"><abbr title="Farenheit">°F</abbr></label>
        <input type="radio" id="units-metric" name="units" value="metric" ng-change="convertUnits()" ng-model="units">
        <label for="units-metric"><abbr title="Celsuis">°C</abbr></label>
        <span class="slide-button"></span>
    </div>
</div>
<script src="js/vendor/angular.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
